### Strings Contin....

In [1]:
string1 = 'Laptoo'

- Replace letter 'o' with 'p'

In [3]:
string1.replace(string1[-1],'p')

'Laptpp'

In [5]:
string2 = 'Laptot'
string2.replace('t','p')

'Lappop'

In [6]:
string3 = 'python program workshop'
string3.split()

['python', 'program', 'workshop']

In [7]:
 string3.split('r')

['python p', 'og', 'am wo', 'kshop']

In [8]:
multiline = '''1st line
2nd Line
3rd Line'''
multiline

'1st line\n2nd Line\n3rd Line'

In [9]:
multiline.splitlines()

['1st line', '2nd Line', '3rd Line']

In [12]:
roll = '20501a0232'
print(roll.startswith('20'))
print(roll.endswith('20'))

True
False

In [13]:
string4 = 'apssdc'
string4.count('s')

2

### Conditional Statements
- Decision making is depends on whetehr given condition is satisfied or not.
- Types of conditional statements
    - if
    - else
    - elif

**if condition**
- Syntax
>> if (condition):
        statement1
        statement2
        statementN

In [16]:
if(20%2 == 0):
    print('Even Number') # Statement1

Even Number

In [17]:
if(21%2 == 0):
    print('Even Number') # Statement1

**else condition**
- Syntax
    - if(condition):
         - statement1
    - else:
        - statement2

In [18]:
if(21%2 == 0):
    print('Even Number')
else:
    print('Not even number')

Not even number

**elif**
- Syntax
    - if(condition1):
        - statement1
        - statement2
     - elif(condition2):
        - staement1
        - statement2
     - else:
        - statement1
        - stetement2

In [21]:
roll = input()

if(roll.startswith('21')):
    print(roll ,'Belongs to 1st year')
elif(roll.startswith('20')):
    print(roll,'Belongs to 2nd year')
else:
    print(roll,'Bleongs to seniors')

20501a0220
20501a0220 Belongs to 2nd year

- Write program to check whether given mail belongs to college or apssdc or personal
    - student@pvp.edu.in ---> belongs to college
    - mounika@apssdc.in ----> belongs to APSSDC
    - swathi@gmail.com ------> belongs to personal

In [24]:
mailid = input()

if(mailid.endswith('edu.in')):
    print(mailid, 'Belongs to College')
elif('apssdc.in' in mailid):
    print(mailid, 'Belongs to APSSDC')
else:
    print(mailid, 'Belongs to Personal')

swathi@yahoo.com
swathi@yahoo.com Belongs to Personal

In [22]:
'apssdc.in' in 'mounika@apssdc.in'

True

In [27]:
year = 1800
if (year%400 == 0):
     print('Leap year')
elif(year%4 == 0 and year%100 != 0):
    print('Leap year')
else:
    print('Not leap year')

Not leap year

In [25]:
1800%4

0

In [26]:
1800%400

200

- Write a program to check whether given number is divisible with 2, 6, 10

In [35]:
n = int(input())

if(n%2 == 0 and n%6 == 0 and n%10 == 0):
    print(n,' is divisible by 2, 6, 10')
else:
    print(n,' is not divisible by 2, 6, 10')

1221
1221  is not divisible by 2, 6, 10

### Iterations
- To iterate over a sequence.

#### For loop
- syntax:
    - for initial_var in sequence:
        - statment
        
>> for (initialize, i<10, i++/i--)

In [1]:
### Sequences
# Range(numbers)
# list
# Tuple
# Dictionary
# Sets

In [2]:
range(10)

range(0, 10)

In [3]:
for i in range(10):## i = 0, 10 is excluded
    print(i)

0
1
2
3
4
5
6
7
8
9

In [5]:
for i in range(20,31):## i = 20, 31 is excluded
    print(i,end='         ')

20         21         22         23         24         25         26         27         28         29         30

In [7]:
for i in range(30,24,-1):## i = 30, ,i--, 31 is excluded
    print(i,end='         ')

30         29         28         27         26         25

- Count even numbers in range(25, 55)

In [8]:
count = 0
for i in range(25,55):
    if(i%2 == 0): ## i = 25, 26,27, ....55
        count = count + 1
        
print(count)

15

In [9]:
for i in 'students':
    print(i)

s
t
u
d
e
n
t
s

In [12]:
# 40
# 1,2,4,5,20,8,10
for i in range(1,41):
    if(40%i == 0):
        print(i, end = '  ')

1  2  4  5  8  10  20  40

In [14]:
#check whether given number is prime or not.
#prime number divisible by 1 and itself

primeNum = int(input())
count = 0

for i in range(1,primeNum+1):
    if(primeNum%i == 0):
        count += 1
        
if count == 2:
    print('Prime')
else:
    print('Not Prime')

36
Not Prime

- Print leap years in a range(1800 to 2021)

In [15]:
for i in range(1800, 2021):
    if(i%400 == 0) or ((i%4==0) and (i%100 != 0)):
        print(i)

1804
1808
1812
1816
1820
1824
1828
1832
1836
1840
1844
1848
1852
1856
1860
1864
1868
1872
1876
1880
1884
1888
1892
1896
1904
1908
1912
1916
1920
1924
1928
1932
1936
1940
1944
1948
1952
1956
1960
1964
1968
1972
1976
1980
1984
1988
1992
1996
2000
2004
2008
2012
2016
2020

In [ ]:
# 5 X 1 = 5
# 5 X 2  = 10
#
#
# 5 x 10 = 50

In [18]:
for i in range(1,11):
    print(5*i)

5
10
15
20
25
30
35
40
45
50

In [19]:
for i in range(1,11):
    print('5 x',i,'=' ,5*i)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

#### While loop
- Syntax
>> while(condition):
   statement
   ++ / --

In [22]:
i = 0
while(i<=10):
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9
10

#### Jump Statements
- Break
- Continue

- **break**
    - It will terminates the loop

In [23]:
for i in 'Pythgon':
    if i == 'g':
        break
    print(i)

P
y
t
h

- **Continue**
    - skips the value in loop

In [24]:
for i in 'Pythgon':
    if i == 'g':
        continue
    print(i)

P
y
t
h
o
n

### Functions

- block of reusable, to do a specific task
- 2 types of functions
    - Pre-defined(built-in) functions
    - User defined functions

In [26]:
print(dir(__builtins__))

['ArithmeticError', 'AssertionError', 'AttributeError', 'BaseException', 'BlockingIOError', 'BrokenPipeError', 'BufferError', 'BytesWarning', 'ChildProcessError', 'ConnectionAbortedError', 'ConnectionError', 'ConnectionRefusedError', 'ConnectionResetError', 'DeprecationWarning', 'EOFError', 'Ellipsis', 'EnvironmentError', 'Exception', 'False', 'FileExistsError', 'FileNotFoundError', 'FloatingPointError', 'FutureWarning', 'GeneratorExit', 'IOError', 'ImportError', 'ImportWarning', 'IndentationError', 'IndexError', 'InterruptedError', 'IsADirectoryError', 'KeyError', 'KeyboardInterrupt', 'LookupError', 'MemoryError', 'ModuleNotFoundError', 'NameError', 'None', 'NotADirectoryError', 'NotImplemented', 'NotImplementedError', 'OSError', 'OverflowError', 'PendingDeprecationWarning', 'PermissionError', 'ProcessLookupError', 'RecursionError', 'ReferenceError', 'ResourceWarning', 'RuntimeError', 'RuntimeWarning', 'StopAsyncIteration', 'StopIteration', 'SyntaxError', 'SyntaxWarning', 'SystemError', 'SystemExit', 'TabError', 'TimeoutError', 'True', 'TypeError', 'UnboundLocalError', 'UnicodeDecodeError', 'UnicodeEncodeError', 'UnicodeError', 'UnicodeTranslateError', 'UnicodeWarning', 'UserWarning', 'ValueError', 'Warning', 'WindowsError', 'ZeroDivisionError', '__IPYTHON__', '__build_class__', '__debug__', '__doc__', '__import__', '__loader__', '__name__', '__package__', '__spec__', 'abs', 'all', 'any', 'ascii', 'bin', 'bool', 'breakpoint', 'bytearray', 'bytes', 'callable', 'chr', 'classmethod', 'compile', 'complex', 'copyright', 'credits', 'delattr', 'dict', 'dir', 'display', 'divmod', 'enumerate', 'eval', 'exec', 'filter', 'float', 'format', 'frozenset', 'get_ipython', 'getattr', 'globals', 'hasattr', 'hash', 'help', 'hex', 'id', 'input', 'int', 'isinstance', 'issubclass', 'iter', 'len', 'license', 'list', 'locals', 'map', 'max', 'memoryview', 'min', 'next', 'object', 'oct', 'open', 'ord', 'pow', 'print', 'property', 'range', 'repr', 'reversed', 'round', 'set', 'setattr', 'slice', 'sorted', 'staticmethod', 'str', 'sum', 'super', 'tuple', 'type', 'vars', 'zip']

In [27]:
abs(-85)

85

In [28]:
pow(2,3)

8

In [29]:
max('apssdc')

's'

In [31]:
ord('s')

115

In [32]:
max([10,3786,98660,55843,4477])

98660

In [33]:
a = 10
b = 25
add1 = a + b
print(add1)

35

- Syntax:
    - **def** userdefined_name(arg1,agr2,....,argN):
        - **return** statement

In [34]:
def add2(a,b):
    return a + b

In [35]:
add2(10,25)

35

In [36]:
add2(45,90)# code reuseable

135

In [38]:
type(add1), type(add2)

(int, function)

**Types of arguments**
- Default argument
- Keyword argument
- Variable length argment
- Keyword Length argument